<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nanosheep.bikeroute" android:versionName="@string/version" android:versionCode="1026">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    

    <application android:label="@string/app_name"
            android:icon="@drawable/bikeroute" android:name="BikeRouteApp" android:debuggable="true">

        <uses-library android:name="com.google.android.maps" />

       <activity android:name="com.nanosheep.bikeroute.Navigate" android:label="BikeRoute">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
       </activity>
       <activity android:name="com.nanosheep.bikeroute.RouteMap" android:label="Map" 
       android:theme="@android:style/Theme.NoTitleBar"></activity>
       <activity android:name="com.nanosheep.bikeroute.DirectionsView" android:label="Directions">
       </activity>
       <activity android:name="com.nanosheep.bikeroute.Preferences" android:label="Preferences">
       </activity>
       <activity android:name="org.achartengine.GraphicalActivity" />
   </application>


<uses-sdk android:minSdkVersion="3"></uses-sdk>
</manifest>
